[Unit]
 Description=Zookeeper Service

[Service]
 Type=simple
 WorkingDirectory={{ zoo_path_bin }}
 PIDFile={{ zoo_path_data }}/zookeeper_server.pid
 SyslogIdentifier=zookeeper
 User=zookeeper
 Group=zookeeper
 ExecStart={{ zoo_path_bin }}/bin/zkServer.sh start
 ExecStop={{ zoo_path_bin }}/bin/zkServer.sh stop
 Restart=always
 TimeoutSec=20
 SuccessExitStatus=130 143
 Restart=on-failure

[Install]
 WantedBy=multi-user.target
